.about {
  //margin-top: -5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  *{
    //outline: 1px dotted green;
  }
}

.about_article{
  margin-top: 23px;
  margin-left: -3px;
  *{
    //outline: 1px dotted green;
  }
}

.about_paragraph {
  width: 100%;
  height: auto;
  color: #636363;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 10px 0;
  padding: 5px 30px 5px 8px;
  word-break: keep-all;
}

$tag_w: 85px;
.company_feature {
  height: 770px;
  width: 70.5%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  *{
    //outline: 1px dotted blue;
  }
  background-color: #c63104;
  overflow: hidden;
  img{
    position: absolute;
    top: -33px;
    left: -143px;
    opacity: 0.5;
  }
}
.feature__items{
  width: 430px;
  height: 100%;
  //position: relative;
  background-color: $white;
  display: flex;
  flex-direction: column;
  z-index: 100;

}


.feature_item {
  display: flex;
  justify-content: center;
  z-index: 100;
  //position: absolute;
  top: -7px;
  //right: 0;
  margin-left: -80%;
}
.feature_item:first-child{
  margin-top: -1px;
}
.feature_item-title {
  font-weight: 400;
  line-height: 36.59px;
  font-family: "BebasNeue-Bold", sans-serif;
  text-transform: uppercase;
  color: $white;
  width: 275px;
  position: relative;
  margin-top: 11px;



  .feature_item-title_up {
    margin: 64px 0 5px;
    font-size: 40px;
    text-align: end;

  }

  .feature_item-title_down {
    font-size: 25px;
    margin-top: -4px;
    text-align: end;
  }
}

.company_feature .feature_item:not(:first-child){
  .feature_item-title:before{
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: 14px;
    background-color: $white;
  }
}

.feature_item-tag {
  height: $tag_w;
  width: $tag_w;
  min-width: $tag_w;
  margin: 50px 20px 0;
  border-radius: 50%;
  border: 13px solid rgba(199, 40, 25, 0.6);
  overflow: hidden;

  i {
    display: block;
    height: 100%;
    width: 100%;
    background: $white url("../img/icons/icn_tag.png") no-repeat center;
  }
}

.feature_item-info {
  color: $text_about;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 41px;
  padding-right: 1px;
  width: 370px;

}



